<table class="ngCalculator">
    <tr>
        <td calc-button="C"></td>
        <td calc-button="&plusmn;"></td>
        <td calc-button="&divide;"></td>
        <td calc-button="&times;"></td>
    </tr>
    <tr>
        <td calc-button="7"></td>
        <td calc-button="8"></td>
        <td calc-button="9"></td>
        <td calc-button="&minus;"></td>
    </tr>
    <tr>
        <td calc-button="4"></td>
        <td calc-button="5"></td>
        <td calc-button="6"></td>
        <td calc-button="&plus;"></td>
    </tr>
    <tr>
        <td calc-button="1"></td>
        <td calc-button="2"></td>
        <td calc-button="3"></td>
        <td rowspan="2" calc-button="="></td>
    </tr>
    <tr>
        <td colspan="2" calc-button="0"></td>
        <td calc-button="."></td>
    </tr>
</table>

